body {
  background-image: url(http://localhost:3000/img/grass_pattern.jpg);
  background-size: auto;
  padding-bottom: 10rem;
}
a {
  color: pink;
}

a:hover {
  color: brown;
  text-decoration: none;
}

h1, #toolbar, footer {
  color: white;
  margin: auto;
  text-align: center;
  width: 70%;
  background-color:green;
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 2rem;
  border: 1px solid black;
  box-shadow: 0px 0px 1rem #77421c;
}

button {
  color: white;
  background-color: green;
  text-align: center;
  border-radius: 2rem !important;
}

button:hover {
  border: 1px solid limegreen;
}

button:focus {
  box-shadow: none !important;
}

footer {
  margin-top: 1rem;
}

#site-title {
  /* something will go here */
}

select {
  margin-left: 1rem;
}

.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.box:hover { 
  background: grey;
}

.off {
  background-color: limegreen;
}

.on {
  background-color: brown;
}
  
.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 2rem brown;
  margin-top: 20px;
}
  
